
@import java.util
@(agentCredit: util.List[Array[Object]], total: Long)

@import play.mvc.Http;
@request = @{Http.Context.current().request()}
@path = @{Http.Context.current().request().path()}

@layout("Agent Credit") {
    <div class="panel panel-default">
        <div class="panel-heading">
            Agent Credit' Table  (Total: @total)
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row text-small">
                        <div class="col-sm-4">
                        </div>
                        <div class="col-sm-4">
                        </div>
                        <form action="" class="col-sm-4 form-inline">
                            <div class="input-group">
                                <input type="text" name="search" value="@Utility.getQuery("search2")" class="form-control" placeholder="Search agent">
                                <span class="input-group-btn">
                                    <button class="btn btn-sm" type="submit">Go!</button>
                                </span>
                            </div>
                        </form>
                    </div>
                </div>
                <table class="table table-striped text-small">
                    <thead>
                        <tr>
                            <th width="20">No</th>
                            <th>Agent</th>
                            <th>Total Credit</th>
                        </tr>
                    </thead>
                    <tbody>
                    @for((ac,i) <- agentCredit.zipWithIndex) {
                        <tr>
                            <td>@{i+1}</td>
                            <td>
                                @ac(1)
                            </td>
                            <td>
                            @formatters.AmtFormatter.format(Double.valueOf(ac(0).toString))
                            </td>
                            <td>
                                <a class="btn btn-info btn-xs" href="@routes.AdminCrudController.viewCreditHistory(ac(2).toString)" target="_blank">
                                    <i class="fa fa-edit"></i> View History
                                </a>
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
                <footer class="panel-footer">
                    <div class="row">
                        <div class="col-sm-4 hidden-xs">

                        </div>
                        <div class="col-sm-3 text-center">
                        </div>
                        <div class="col-sm-5 text-right">
                        @inc.pager(total)
                        </div>
                    </div>
                </footer>
            </div>
        </div>
    </div>
}
