@import java.util
@import pojos.TellerPaymentDetail
@(modelMap :util.Map[String, Object])
@subscriptionList = @{modelMap.get("subscriptionList").asInstanceOf[List[models.Subscription]]}
@total = @{modelMap.get("total").asInstanceOf[Long]}
@today = @{new Date()}

@layout("Pending Subscriptions", styles = styles, scripts = scripts) {

    <div class="panel panel-default">
        <div class="panel-heading">
            
            Pending Subscriptions  Table  (Total: @total)

            @if(flash().contains("activationMsg")){
                <div class="alert alert-success">
                    @flash().get("activationMsg")
                </div>
            }

        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row text-small">
                        <div class="col-sm-4">
                        </div>
                        <div class="col-sm-4">
                        </div>
                        <form action="" class="col-sm-4 form-inline">
                            <div class="input-group">
                                <input type="text" name="search" value="@Utility.getQuery("search")" class="form-control" placeholder="Search agent">
                                <span class="input-group-btn">
                                    <button class="btn btn-sm" type="submit">Go!</button>
                                </span>
                            </div>
                        </form>
                    </div>
                </div>
                <table class="table table-striped text-small">
                    <thead>
                        <tr>
                            <th>Agent Id</th>
                            <th>Agent Name</th>
                            <th>Plan</th>
                            <th>Price</th>
                            <th>Subscription Date</th>
                            <th>Payment Type</th>
                            <th>Duration</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for(subscription <- subscriptionList){
                            <tr>
                                <td>
                                    @subscription.agent.id
                                </td>

                                <td>
                                    @subscription.agent.name
                                </td>

                                <td>
                                    @subscription.name
                                </td>

                                <td>
                                    @subscription.price
                                </td>

                                <td>
                                    @subscription.created
                                </td>

                                <td>
                                    @subscription.paymentType.toString
                                </td>

                                <td>
                                    @subscription.duration
                                </td>

                                <td>

                                    <p>
                                        <a class="btn btn-warning btn-xs" data-toggle="modal" data-target="#viewPaymentInfo@subscription.id">
                                            Payment Info</a>
                                    </p>

                                    <form action="@routes.AdminSubscriptionController.activatePendingSubscription()" method="POST">
                                        <input type="hidden" name="subscriptionId" value="@subscription.id">
                                        <input type="submit" class="btn btn-success btn-xs" value="Activate">
                                    </form>


                                </td>

                                <div class="modal inmodal" id="viewPaymentInfo@subscription.id" tabindex="-1" role="dialog" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content animated bounceInRight">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal"><span
                                                aria-hidden="true">&times;</span><span
                                                class="sr-only">Close</span></button>
                                                <i class="fa fa-user modal-icon"></i>
                                                <h4 class="modal-title">Payment Info</h4>
                                            </div>

                                            <div class="modal-body">
                                                <ul class="list-group">
                                                    <li class="list-group-item">
                                                            Payment Type:
                                                        @subscription.paymentType
                                                    </li>

                                                    @if(subscription.paymentDetail.isInstanceOf[TellerPaymentDetail]){
                                                        <li class="list-group-item">
                                                            Teller Number:
                                                            @{
                                                                (subscription.paymentDetail.asInstanceOf[TellerPaymentDetail]).tellerNumber
                                                            }

                                                        </li>
                                                    }

                                                    @if(subscription.paymentDetail.isInstanceOf[TellerPaymentDetail]){
                                                        <li class="list-group-item">
                                                            Amount Paid: &#x20A6;
                                                            @{
                                                                (subscription.paymentDetail.asInstanceOf[TellerPaymentDetail]).amountPaid
                                                            }
                                                        </li>
                                                    }

                                                    @if(subscription.paymentDetail.isInstanceOf[TellerPaymentDetail]){
                                                        <li class="list-group-item">
                                                            Payment Date:
                                                            @{
                                                                (subscription.paymentDetail.asInstanceOf[TellerPaymentDetail]).paymentDate
                                                            }
                                                        </li>
                                                    }

                                                </ul>

                                            </div>

                                            <div class="modal-footer">
                                                <input type="hidden" name="agent_id" id="agent">
                                                <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                            </tr>
                        }
                    </tbody>
                </table>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-sm-4 hidden-xs">

                        </div>
                        <div class="col-sm-3 text-center">
                        </div>
                        <div class="col-sm-5 text-right">
                        @inc.pager(total)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@styles = {
}

@scripts = {

    <script>


    </script>
}

