@import play.data.Form
@import java.util
@(aForm: Form[Agent], agent: Agent)

    @profile.layout("Agent Edit Form", styles = f_styles, scripts = f_scripts) {

        <div class="modal inmodal" id="addImagery" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content animated bounceInUp">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span
                        aria-hidden="true">&times;</span><span
                        class="sr-only">Close</span></button>

                        @if(Utility.isEmpty(agent.logoName)) {
                            <i class="fa fa-photo modal-icon"></i>
                            <h4 class="modal-title">Add logo</h4>
                        } else {
                            <img src="@StaticAssets.getImg("logodir/" + agent.logoName)">
                        }

                    </div>
                    <form id="addLogForm" enctype="multipart/form-data">
                        <div class="modal-body">

                            <div class="row">

                                <div class="col-md-12">
                                    <div class="ibox float-e-margins">
                                        <div class="ibox-title">
                                            <h5>Add logo</h5>

                                            <div class="ibox-tools">
                                                <a class="collapse-link">
                                                    <i class="fa fa-chevron-up"></i>
                                                </a>
                                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                                    <i class="fa fa-wrench"></i>
                                                </a>
                                                <ul class="dropdown-menu dropdown-user">
                                                    <li><a href="#">Config option 1</a>
                                                    </li>
                                                    <li><a href="#">Config option 2</a>
                                                    </li>
                                                </ul>
                                                <a class="close-link">
                                                    <i class="fa fa-times"></i>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="ibox-content">
                                            <div class="form-group" id="image">
                                                <label>Image(s)</label>
                                                <input type="file" name="file" id="file" class=""
                                                accept="image/jpeg,image/gif,image/png">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <span class="help-block m-b-none text-danger" id="logoError"></span>

                            <div id="loadingL" class="sk-spinner sk-spinner-three-bounce">
                            </div>

                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                            <input onclick="addLogo()" type="button" class="btn btn-danger" value="Submit">
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                Agent Update Profile
                <a class="btn btn-danger btn-xs pull-right" data-toggle="modal" data-target="#addImagery"><i class="fa fa-photo"></i>
                    @if(Utility.isEmpty(agent.logoName)) {Add} else {Change} Logo
                </a>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <form method="post" action="@routes.AgentDashboardController.update()">

                            <div class="col-md-12">
                                <div class="form-group  @if(aForm("about").hasErrors) {has-error}">
                                    <label class="control-label">About</label>
                                    <textarea class="form-control summernote" rows="10" name="about">@aForm("about").value()</textarea>
                                    <span class="help-block">@{
                                        aForm("about").error.map { error => error.message }
                                    }</span>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="form-group pull-right">
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    }
    @f_styles = {

        <link href="@StaticAssets.getUrl("css/plugins/summernote/summernote.css")" rel="stylesheet">
        <link href="@StaticAssets.getUrl("css/plugins/summernote/summernote-bs3.css")" rel="stylesheet">

    }

    @f_scripts = {

            <!-- SUMMERNOTE -->
        <script src="@StaticAssets.getUrl("js/plugins/summernote/summernote.min.js")"></script>

        <script>
                $(document).ready(function () {

                    $('.summernote').summernote({
                        height: 300,
                        minHeight: null,
                        maxHeight: null,
                        focus: true,
                        placeholder: 'About Us',
                        foreColor: "red"
                    });

                });
                var edit = function () {
                    $('.click2edit').summernote({focus: true});
                };
                var save = function () {
                    var aHTML = $('.click2edit').code(); //save HTML If you need(aHTML: array).
                    $('.click2edit').destroy();
                };

                function addLogo() {
                    //Stops the submit request
                    $("#addLogoForm").submit(function (e) {
                        e.preventDefault();
                    });

                    var file = $('#file').get(0).files[0];
                    var formData = new FormData();
                    formData.append('file', file);

                    //make the AJAX request, dataType is set to json
                    //meaning we are expecting JSON data in response from the server
                    $.ajax({
                        type: "POST",
                        enctype: "multipart/form-data",
                        data: formData,
                        processData: false,  // Important!
                        contentType: false,
                        cache: false,
                        url: "@routes.AgentDashboardController.addLogo()",
                        dataType: "json",

                        //if received a response from the server
                        success: function (data, textStatus, jqXHR) {
                            //your was correct so we have some information to display
                            if (data.success) {
                                location.reload();
                            }
                        },

                        //If there was no resonse from the server
                        error: function (jqXHR, textStatus, errorThrown) {
                            console.log("Something really bad happened " + errorThrown);
                            $("#logoError").html('Upload an image!');
                            $("#loadingL").html('');
                        },

                        //capture the request before it was sent to server
                        beforeSend: function (jqXHR, settings) {
                            //adding some Dummy data to the request
                            $("#loadingL").html("<div class='sk-bounce1'></div> <div class='sk-bounce2'></div> <div class='sk-bounce3'></div>");
                        },

                        //this is called after the response or error functions are finished
                        //so that we can take some action
                        complete: function (jqXHR, textStatus) {
                            //enable the button
                        }

                    });

                }

        </script>

    }