@import java.util
@(modelMap :util.Map[String, Object])

@subscription = @{modelMap.get("subscription").asInstanceOf[Subscription]}
@plan = @{modelMap.get("plan").asInstanceOf[Plan]}
@today = @{new Date() }
@pendingSubscription = @{modelMap.get("pendingSubscription").asInstanceOf[Subscription]}
@pendingSubscriptionPaymentTopUp = @{modelMap.get("pendingSubscriptionPaymentTopUp").asInstanceOf[SubscriptionPaymentTopUp]}
@basicPlan = @{Utility.getBasicPlanName()}

@profile.layout("Renew Plan", scripts = scripts, styles = styles){
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="alert alert-info" role="alert">
                You are currently on @subscription.name. Your @subscription.duration day(s) subscription runs from @Utility.formatDate(subscription.activationDate, "dd-MM-yyyy HH:mm:ss") to @Utility.formatDate(subscription.expiryDate, "dd-MM-yyyy HH:mm:ss")
            </div>

            @if(!today.after(subscription.expiryDate)) {

                <div class="alert alert-danger" role="alert">You can't renew a subscription that has not expired. You may want to change or upgrade your plan.</div>
                <a href="@routes.AgentSubscriptionController.changePlan()" class="btn btn-warning btn-sm pull-right">Change/Upgrade Plan</a>

            }else{
                @if(pendingSubscriptionPaymentTopUp == null){

                    @if(pendingSubscription == null){

                        <div class="alert alert-warning" role="alert"> The plan you want to renew cost &#x20A6;@plan.price</div>

                        @if(subscription.name.equals(basicPlan)){
                            <form action="@routes.AgentSubscriptionController.subscribe" method="POST">
                                <div class="form-group">
                                    <input  type="hidden" name="planId" value="@plan.id">
                                    <input  type="hidden" name="paymentType" value="Free">
                                </div>
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </form>
                        }else{
                            <form action="@routes.AgentSubscriptionController.subscribe" method="POST">
                                <div class="form-group">
                                    <input  type="hidden" name="planId" value="@plan.id">
                                </div>

                                <div class="form-group">
                                    <select class="form-control" id="paymentType" name="paymentType" onchange="checkPaymentTypes()" required>
                                        <option value="">Form of Payment</option>
                                    </select>
                                </div>

                                <div id = "tellerInfo" class="form-group">
                                    <div class="form-group">
                                        <input type="text" name="tellerNumber" required="required" class="form-control" placeholder="Teller Number">
                                    </div>

                                    <div class="form-group">
                                        <input type="number" name = "amountPaid" required="required" class="form-control" placeholder="Amount Paid">
                                    </div>

                                    <div class="form-group">
                                        <input class="form-control" id="paymentDate" name="paymentDate" placeholder="Payment Date" type="text" required/>
                                    </div>
                                </div>

                                <button type="submit" class="btn btn-primary">Submit</button>
                            </form>
                        }


                    }else{
                        <div class="alert alert-danger" role="alert">You can't renew your subscription because you have a pending subscription that is subjected to the administrator approval.</div>
                    }
                }else{
                    <div class="alert alert-danger" role="alert">You can't renew your subscription because you have a pending top up that is subjected to the administrator approval.</div>
                }

            }


        </div>
    </div>
}

@scripts = {

    <script src="@StaticAssets.getUrl("js/jquery-2.1.1.js")"></script>
    <script src="@StaticAssets.getUrl("js/plugins/datapicker/bootstrap-datepicker.js")"></script>

    <script>


        function loadPaymentTypes(){
             $.getJSON("/subscription/paymentTypes", function(result,status,xhr){
                if(status == "success"){
                     $.each( result, function( key, val ) {
                        $("#paymentType").append("<option value='"+key+"'>" +val+"</option>");
                      });
                }
            });
        }

        $(document).ready(function(){
             loadPaymentTypes();
              $("#tellerInfo").hide();
              $('#paymentDate').datepicker({
                    format: "dd/mm/yyyy"
              });
        });

        function checkPaymentTypes(){
          var paymentType = $("#paymentType").val();
          console.log(paymentType);
          if(paymentType == "Teller" ){
             $("#tellerInfo").show();
          }else{
            $("#tellerInfo").hide();
          }
        }

    </script>
}

@styles = {


}

