@import java.util
@(modelMap :util.Map[String, Object])
@subscription = @{modelMap.get("subscription").asInstanceOf[Subscription]}
@subscriptionPaymentTopUp = @{modelMap.get("subscriptionPaymentTopUp").asInstanceOf[SubscriptionPaymentTopUp]}
@pendingSubscription = @{modelMap.get("pendingSubscription").asInstanceOf[Subscription]}
@pendingSubscriptionPaymentTopUp = @{modelMap.get("pendingSubscriptionPaymentTopUp").asInstanceOf[SubscriptionPaymentTopUp]}
@today = @{new Date() }
@basicPlan = @{Utility.getBasicPlanName()}

@profile.layout("Subscription Information"){
    <div class="panel panel-default">
        <div class="panel-heading">
            <p>
                <a href="@routes.AgentSubscriptionController.renewPlan()" class="btn btn-success btn-sm">
                    Renew Plan</a>

                <a href="@routes.AgentSubscriptionController.changePlan()" class="btn btn-warning btn-sm">
                    Change/Upgrade Plan</a>

                <a href="@routes.AgentSubscriptionController.topUpProduct()" class="btn btn-info btn-sm">
                    Top-Up Products</a>

            </p>

        </div>
        <div class="panel-body">

            <div class="alert alert-info" role="alert">
                @if(today.after(subscription.expiryDate)){
                    Your @subscription.duration day(s) @subscription.name subscription that runs from @Utility.formatDate(subscription.activationDate, "dd-MM-yyyy HH:mm:ss") to @Utility.formatDate(subscription.expiryDate, "dd-MM-yyyy HH:mm:ss") has expired. Renew or Upgrade plan now.
                }else{
                    You are currently on @subscription.name. Your @subscription.duration day(s) subscription runs from @Utility.formatDate(subscription.activationDate, "dd-MM-yyyy HH:mm:ss") to @Utility.formatDate(subscription.expiryDate, "dd-MM-yyyy HH:mm:ss")
                }
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">Subscription Products</div>
                <tbody>
                <div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Product Type</th>
                                <th>Number Of Unit(s)</th>
                                <th>Available Unit(s)</th>
                            </tr>
                        </thead>
                            @for(subscriptionProduct <- subscription.products){
                                <tr>
                                    <td>@subscriptionProduct.productType.rep</td>
                                    <td>@subscriptionProduct.maximum</td>
                                    <td>@subscriptionProduct.remainder</td>
                                </tr>
                            }
                    </table>
                </div>
                </tbody>
            </div>


            @if(subscriptionPaymentTopUp != null){
                <div class="panel panel-default">
                    <div class="panel-heading">Top Up Products</div>
                    <tbody>
                    <div>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Product Type</th>
                                    <th>Number Of Unit(s)</th>
                                    <th>Available Unit(s)</th>
                                </tr>
                            </thead>

                            @for(subscriptionPaymentTopUpProduct <- subscriptionPaymentTopUp.products){
                                <tr>
                                    <td>@subscriptionPaymentTopUpProduct.productType.rep</td>
                                    <td>@subscriptionPaymentTopUpProduct.maximum</td>
                                    <td>@subscriptionPaymentTopUpProduct.remainder</td>
                                </tr>
                            }

                        </table>
                    </div>
                    </tbody>
                </div>
            }

            @if(pendingSubscription != null){
                <div class="panel panel-default">
                    <div class="panel-heading">Pending Subscription</div>
                    <tbody>
                    <div>
                        <table class="table table-responsive">
                            <thead>
                                <tr>
                                    <th>Product Type</th>
                                    <th>Number Of Unit(s)</th>
                                </tr>
                            </thead>


                            @for(pendingSubscriptionProduct <- pendingSubscription.products){
                                <tr>
                                    <td>@pendingSubscriptionProduct.productType.rep</td>
                                    <td>@pendingSubscriptionProduct.maximum</td>
                                </tr>
                            }


                        </table>
                    </div>
                    </tbody>

                </div>
            }

            @if(pendingSubscriptionPaymentTopUp != null){
                <div class="panel panel-warning">
                    <div class="panel-heading">Pending Top Up Products</div>
                    <tbody>
                    <div>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Product Type</th>
                                    <th>Number Of Unit(s)</th>
                                </tr>
                            </thead>
                            @for(pendingSubscriptionTopUpProduct <- pendingSubscriptionPaymentTopUp.products){
                                <tr>
                                    <td>@pendingSubscriptionTopUpProduct.productType.rep</td>
                                    <td>@pendingSubscriptionTopUpProduct.maximum</td>
                                </tr>
                            }

                        </table>
                    </div>
                    </tbody>
                </div>
            }

        </div>
    </div>
}




